<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/styles/estilos.css">
</head>
<body>
 <article class="pagina">
     <nav class="navegacion">
    <a href="/inicio" class="navegacion__enlace">Inicio</a>
    <a href="/sobre" class="navegacion__enlace">Sobre Nosotros</a>
    <a href="/contacto" class="navegacion__enlace">Contacto</a>
    <a href="/admin" class="navegacion__enlace">Administrador</a>
    </nav>
<section class="contenido contenido--tabla">
<table class="tabla">
<tr class="tabla__fila">
<td  class="tabla__celda tabla__celda--titulos">Pagina</td>
<td class="tabla__celda tabla__celda--titulos">Visitas</td>
</tr>
<tr>
<td class="tabla__celda">Inicio</td>
<td class="tabla__celda">{{contInicio}}</td>
</tr>
<tr  class="tabla__fila">
<td class="tabla__celda">Sobre nosotros</td>
<td class="tabla__celda">{{contSobre}}</td>
</tr>
<tr  class="tabla__fila">
<td class="tabla__celda">Contacto</td>
<td class="tabla__celda">{{contContacto}}</td>
</tr>
</table>
   </section>  
   </article>
</body>
</html>