<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
</head>
<body>

<table class="tabla">
<tbody>
<tr class="tabla__fila">
<td  class="tabla__celda">Pagina</td>
<td class="tabla__celda">Visitas</td>
</tr>
<tr>
<td class="tabla__celda">Inicio</td>
<td class="tabla__celda">{{contInicio}}</td>
</tr>
<tr  class="tabla__fila">
<td class="tabla__celda">Sobre nosotros</td>
<td class="tabla__celda">{{contSobre}}</td>
</tr>
<tr  class="tabla__fila">
<td class="tabla__celda">Contacto</td>
<td class="tabla__celda">{{contContacto}}</td>
</tr>
</tbody>
</table>
    
</body>
</html>