<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
</head>
<body>

    <article class="pagina">

    <nav class="navegacion">
    <a href="/inicio" class="navegacion__enlace">Inicio</a>
    <a href="/sobre" class="navegacion__enlace">Sobre Nosotros</a>
    <a href="/contacto" class="navegacion__enlace">Contacto</a>
    <a href="/admin" class="navegacion__enlace">Administrador</a>
    </nav>

    <section class="contenido">
    <h1 class="contenido__titulo">{{titulo}}</h1>

    <p class="contenido__descripcion">{{descripcion}}</p>
    </section>
    

    </article>
    
</body>
</html>